<div id=" <% dom_id(review) %>" class="review">
    <h3><%= link_to_unless_current review.title, package_review_path(@package,review) %></h3>
    <h2><%= review.stars %></h2>
    <p><%= review.body %></p>
    
</div>