
 <div class="px-4 py-5 my-5 text-center">
    <br><br>
    <h1 class="display-5 fw-bold">The Flower Shop</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Flowers at your door for every event! Never forget an anniversary or birthday again. Ready to begin? Click the buttons below to sign up or login and pick out your flowers! </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Sign Up</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Log In</button>
      </div>
    </div>
  </div>